<tr>
  <td><%= test.title %></td>
  <td><%= test.level %></td>
  <td><%= test.category.title %></td>
  <td><%= questions_count(test) %></td>
  <td><%= button_to 'Start', start_test_path(test) %></td>
</tr>
